#contacto {
	@include span-columns(12);
	padding:100px 0;
	@include media($mobileTomobileLand) {
		padding:{top:70px;};
    }
	h2 {
		font:{size:em(50)};
		@extend .text-center;
		margin:0;
		text:{transform:uppercase;}
		@include media($mobileTomobileLand) {
			font:{size:em(38)};
			line-height: 38px;
	    }
	}
	p {
		@extend .text-center;
		@include outer-container(60%);
		margin:{top:15px !important;}
		font:{size: em(20);weight:300;}
		line-height: 39px;
		@include media($mobileLandTotablet) {
			@include outer-container(90%);
		}
		@include media($mobileTomobileLand) {
			@include outer-container(90%);
			font-size: 18px;
			line-height: 31px;
	    }
	}
	form {
		@include outer-container(40%); 
		font:{family:$font_first;}
		@include media($tablet) {
			@include outer-container(85%);
		}
		@include media($tabletLand) {
			@include outer-container(85%);
		}
		@include media($mobileTomobileLand) {
			@include outer-container(90%);
		}
		@include media($mobileLand) {
			@include outer-container(90%);
		}
		.form-field {
			@include span-columns(12);
			margin:{top:30px;}
			.form-label {
				color:$first_color;
				font:{size:em(12);weight:400;} 
				margin:{bottom: 7px;}
			}
			.form-data {
				input {
					color:$three_color;
					@include span-columns(12);
					font:{size:em(11);weight:300;} 
					border:0;
					border-bottom:1px solid #eeeeef;
					padding: 5px;
					outline: none;
					font:{size: em(15)}
					@include placeholder {
					    color:$three_color;
					}
				}
				.form-select-wrapper {
					@include span-columns(12);
					border:0;
					border-bottom:1px solid #eeeeef;
					padding: 5px;
					outline: none;
					font:{size: em(15)}
					select {
						color:$three_color;
						@include span-columns(12);
						font:{size:em(11);weight:300;} 
						font:{size: em(15)}
						background: #fff;
						border: 0;
						outline: none;
						@include placeholder {
						    color:$three_color;
						}
					}
				}
			}
		}
		.buttons {
			button {
				@include span-columns(4);
				@include media($mobileTomobileLand) {
					@include span-columns(12);
				}
				@include media($mobileLand) {
					@include span-columns(6);
				}
				color:#fff;
				background: $first_color;
				border:0;
				padding: 15px 60px;	
				margin:{top:40px;}
				font:{size:(12)}
    			text-transform: uppercase;
    			letter-spacing: 1px;
    			outline: none;
			}
		}
	}
}