#header {
	@include span-columns(12);
	margin:0;
	background: url('http://local.mediatrends/Starterdaily/htdocs/app/user/themes/mediakit/images/bg-menu.png') repeat;
	background-color: #1f1f1f;
	color:#fff;
	padding:0;
	position: fixed; 
	z-index: 999;
	.content-menu {
		@include outer-container(60%);
		height: 56px;
		display: table;
		@include media($tabletLandTonotebook) {
			@include outer-container(70%);
		}
		@include media($tablet) {
			@include outer-container(95%);
		}
		@include media($mobileTomobileLand) {
			@include outer-container(98%);
			min-width: 90%;
	    }
	    @include media($mobileLand){
			@include outer-container(90%);
	    }
		.logo {
			@include span-columns(2.5);	
			display: table-cell;
			vertical-align: middle;
			float: none;
			@include media($mobileTomobileLand) {
				@include span-columns(7);	
		    }
			h1 {
				margin:0;
				@include media($mobileTomobileLand) {
					margin:{top: 5px;}
			    }
				a {
					height: 22px;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
		#navbar {
			@include span-columns(9.5);
			@extend .text-right;
			display: table-cell;
			vertical-align: middle;
			float: none;
			@include media($mobileTomobileLand) {
				display: none;
		    }
		    @include media($mobileLand){
				display: none;
		    }
			.navigation {
				@include span-columns(12);
				margin:0;
				padding: 0;
				li {
					list-style: none;
					display: inline-block;
					margin:{left: 20px;}
					&:before {
						position: absolute;
					    top: 0px;
					    left: -1px;
					    display: block;
					    content: '';
					    height: 100%;
					    width: 1px;
					    box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    -webkit-box-sizing: border-box;
					    background: url('http://local.mediatrends/Starterdaily/htdocs/app/user/themes/mediakit/images/separator.png') repeat transparent;
					    z-index: -1;
					}
					a {
						text:{decoration:none;}
						color:#fff;
					    font:{size:em(16);weight:300;}
					    line-height: 30px;
					    padding:{top:13px;right:18px;bottom:13px;left:0;} 
					}
				}
			}
		}	
	}
}