#specs {
	@include span-columns(12);
	background: $first_color;
	color:#fff;
	padding:100px 0;
	h2 {
		font:{size:em(50)};
		@extend .text-center;
		margin:0;
		text:{transform:uppercase;}
	}
	p {
		@extend .text-center;
		@include outer-container(60%);
		margin:{top:15px !important;}
		font:{size: em(20);weight:300;}
		line-height: 39px;
	}
	ul {
		@include outer-container(50%);
		@include pad(0);
		margin:60px auto 30px;
		li {
			list-style: none;
			font:{size:em(16);weight:300;};
			padding:20px 60px;
			border:{bottom:1px solid #343434};
		}
	}
	mark {
		color:$second_color;
		background: none;
	}
}