//FONT FAMILY
$font_first:'Open Sans', sans-serif;

//COLOR
$first_color:#444;
$second_color:#f26532;
$three_color:#b8babb;

//RESPONSIVE WIDTH
$mobile:(max-width 320px);
$mobileLand:(min-width 480px max-width 690px);
$tablet:(min-width 768px max-width 1023px);
$tabletLand:(min-width 1024px max-width 1279px);
$notebook:(min-width 1280px);
$notebookLand:(min-width 1281px max-width 1439px);
$desktop:(min-width 1440px);

$mobileTomobileLand: (min-width 320px max-width 640px);
$mobileLandTotablet: (min-width 480px max-width 1024px);
$tabletLandTonotebook: (min-width 1024px max-width 1440px); 
$notebookTodesktop: (min-width 1280px min-width 1440px);  


